Repository HYF-Class19/agile-development-group-2, pull requests merged in 2022-07, with the labels that each got.

#4 add information to user-personas.md
  planning/user-personas.md
Labels: user personas

#5 add information in the backlog file
  planning/backlog.md
Labels: md files

#9 Design
  planning/communication-plan.md
  planning/design.md
Labels: md files, design, fix

#15 add my availabilities for calling and messaging
  planning/communication-plan.md
Labels: communication plan

#16 add availability time for michael in communication plan
  .cspell.json
  planning/communication-plan.md
Labels: communication plan

#17 Adding All About Trees: Development Strategy
  package-lock.json
  package.json
  planning/README.md
  planning/development-strategy.md
Labels: md files

#19 Planning-Backlog,Design and README.md
  README.md
  planning/backlog.md
  planning/design.md
  public/design2.png
  public/trees.jpeg
Labels: documentation, md files, design

#22 Inclusion of nominative tags and sketch inside the project
  .cspell.json
  .gitignore
  .ls-lint.yml
  README.md
  images/groupwork_distribution.png
  index.html
Labels: fix, group, all about trees website

#24 add information in the retrospective.md file
  planning/retrospective.md
Labels: md files

#30 About File To Display Our GitPages URL On Group 2 Repository
  .cspell.json
  ABOUT.md
  groupwork_distribution.png
  hack-your-future-logo.jpeg
  house-25pour-cent.png
  house-50-pour-cent.png
  house.jpg
  index.html
  public/hack-your-future-logo.jpeg
  public/house-25pour-cent.png
  public/house-50-pour-cent.png
  public/house.jpg
  public/style.css
  style.css
  styles/index.css
Labels: bug, md files, all about trees website
